    <footer>
        <p>Copyright 2017 - Tristan Jacobs</p>
    </footer>

    <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('../sw.js');
    };
    </script>
    <script async src="https://use.fontawesome.com/8db81718c9.js"></script>
</body>
</html>
