<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Zoek GIFs</a></li>
            <li><a href="/about">Over Deze App</a></li>
        </ul>
    </nav>
</header>