<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web App From Scratch</title>
    <link rel="manifest" href="../manifest.json">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Raleway:400,400i,700);nav ul li,nav ul li a{padding:1em}body{padding:0;margin:0;font-family:Raleway,sans-serif;color:#333}header{background:#dc143c;color:#fff;margin:0;padding:0 2em}header nav ul{padding:0;display:flex;flex-direction:row;list-style:none;-webkit-margin-before:0;-webkit-margin-after:0}nav ul li a{color:#fff;margin-left:-2em;text-decoration:none}section{padding:2em}[name=about] p{max-width:40em}footer p{text-align:center}
    </style>
    <noscript>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </noscript>
    <script type="text/javascript" src="/js/bundle.js" defer></script>
</head>
<body>
