<% include partials/head %>
<% include partials/header %>


<body>

<section id="detailpage">
    <div>
        <a href="/search">< Back</a>
    </div>
    <div>
        <img src="<%= single_img_url%>">
    </div>
</section>

</body>