<% include partials/head %>
<% include partials/header %>

<section name="about">
    <h1>Over deze app</h1>
    <p>Deze webapplicatie is ontwikkeld voor de vakken 'Web App From Scratch'
        en 'Performance Matters' van de minor Web Development aan de Hogeschool van Amsterdam.</p>
</section>




