<% include partials/head %>
<% include partials/header %>

<section name="search">

    <h1>Search GIFs</h1>

    <div>
        <form id="search-form" method="POST" action="/search">
            <input id="input" name="query" type="text" value="<%= user_query.query %>" required placeholder="Search GIFs on Gyphy...">
            <input id="search" type="submit" value="Search"></input>
        </form>

    </div>

    <hr>

    <% if (items) { %>
        <p>Search results:</p>
        <div id="searchresults">
                <% items.forEach(function (item) { %>
                    <a href="/details/<%=item.id%>">
                        <!--<img src="<%=item.images.fixed_height.url%>" alt="Powered By Giphy!">-->
                        <video autoplay="autoplay" loop="loop">
                            <source src="<%= item.images.fixed_height.mp4%>" type="video/mp4" />
                        </video>
                    </a>
                <%})%>
        </div>
    <% }%>


</section>
