<% include partials/head %>
<% include partials/header %>

<section name="search">

    <h1>Zoek GIFs</h1>

    <div>
        <form id="search-form" method="POST" action="/search">
            <input id="input" name="query" type="text" value="<%= qs.query %>" required placeholder="Zoek GIFs op Gyphy...">
            <input id="search" type="submit" value="Zoeken"></input>
        </form>

    </div>
    <hr>

    <p><%= qs.query %></p>

    <% if (urls) { %>
    <div id="searchresults">
            <% urls.forEach(function (img_url) { %>
                <img src="<%=img_url%>" alt="Powered By Giphy!">
            <%})%>
    </div>
    <% }%>



</section>

<% include partials/footer %>