<% include partials/head %>
<% include partials/header %>

<section name="search">

    <h1>Zoek GIFs</h1>

    <div>
        <form action="">
            <input type="text" required placeholder="Zoek GIFs op Gyphy...">
            <button type="submit">Zoeken</button>
        </form>
    </div>
    <hr>

    <% include partials/searchresults%>

</section>

<% include partials/footer %>